
.carga header{
    position: static;
}

.carga main{
    padding-bottom: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.carga main h2{
    text-align: center;
    margin: 10px;
    width: 100%;
    color: var(--azulOscuro);
    font-weight: 900;
}
.carga main .form{
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: var(--azulOscuro);
    align-items: center;
    max-width: 740px;
}
.carga main .form small{ 
    color: black;
    font-size: 17px;
}
.carga main .cancel{
    display: flex;
    flex-direction: column;
    width: 95%;
    
}
.carga main .cancel button{
   border-color: var(--azulOscuro);
    padding: 3px;
}
.carga main form button{
    margin:15px auto;
    font-size: 18px;
}
.carga main form label{
    color: white;
    font-weight: 900;
    margin-top: 20px;
    width: 95%;
    max-width: 630px;
}
.carga main form input{
    font-size: 17px;
    border-radius: 6px;
    border-color: white;
    max-width: 630px;
    width: 95%;
    font-family: var(--letra);
}
@media(min-width:426px){

    .carga main form label{
        font-size: 18px;
    }

}