.home {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home .carrousel{
    border: 2px solid var(--grafito);
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 72px;
    height: 406px;
    position: relative;
    width: 100%;
    justify-content: center;
}
.home .carrousel img{
    width: 90%;
    height: 90%;
    max-width: 400px;
}




.home .carrousel .c1{
    position: absolute;
    animation: pasar1 12s infinite;
    
}
.home .carrousel .c2{
    position: absolute;
    animation: pasar2 12s infinite;
    
}

.home .carrousel .c3{
    position: absolute;
    animation: pasar3 12s infinite;
    
}






.home .carrousel .flechal i{
    font-size: 40px;
    color: gray;
    width: 15%;
    top: 50%;
    left: 0%;
}
.home .carrousel .flechar i{
    font-size: 40px;
    color: gray;
    width: 15%;
    right: 0%;
    top: 45%;
}
.home section{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-bottom: 124px;
}
.home section article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 4px solid var(--azul);
    margin-top: 50px;
    border-radius: 5%;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: var(--azul) 0px 13px 27px -5px, var(--grafito) 0px 8px 16px -8px;
}
.home section article .imagen{
    height: 67%;
}
.home section article .art2{
    height: 33%;
    max-height: 60px;
}
.home section article div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
.home section article div p.descripcion{
    text-align: center;
    width: 100%;
    padding:0 5px;
    margin-bottom: 10px;
    font-weight: 700;
    border-top: 2px solid var(--azul);
}
.home section article div p.precio{
    width: 45%;
    display: flex;
    font-weight: 900;
    justify-content: center;
    box-shadow: var(--caja);
    border-radius: 10px;
    margin-left: 10px;
}
.home section article div .icons2{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.home section article div .icons2 i{
    font-size: 25px;
}
.home section article div .icons2 i.fa-heart{
    color: palevioletred;
}
.home section article div .icons2 i.fa-shopping-cart{
    color: var(--grafito);
}
.home section article.tablet{
    display: none;
}
.home section article.laptop{
    display: none;
}
.home .top{
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 5;
}

.home .top a i{
    color: var(--cian);
    font-size: 28px;
}

@media(min-width:426px){
    .home{
        padding-top: 5px;
    }
    .home .carrousel{
        display: flex;
    }
    .home section{
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 0;
        
    }

    .home section article{
        width: 80%;
        width: 45%;
        margin-top: 50px;
        border-radius: 5%;
        padding-bottom: 10px;
        text-align: center;
        
    }
    .home section article div p.descripcion{
        padding: 0px 15px;
    }
    .home section article div p.precio{
        margin-left: 5px;
    }
    .home section article.tablet{
    display: flex;
    
    }
}

@media(min-width:769px){
    .home .carrousel{
        margin-top: 120px;
        
    }
    .home section{
        margin-bottom: 174px;
    }




    
    .home section article{
        width: 30%;
        max-width: 265px;
        align-items: center;
        box-shadow: none;
    }
    .home section article .imagen img{
        max-height: 300px;
    }
    .home section article .imagen{
        width: 60%;
    }

    .home section article div p.precio{
        order:-5;
        width: 100%;
        text-align: center;
        background-color: white;
        font-size: 25px;
        box-shadow: none;
    }
    .home section article div .icons2{
        width: 100%;
        
    }
    .home section article div .icons2 i.fa-shopping-cart{
        box-shadow: var(--caja);
        border-radius: 30px;
        width: 45%;
        padding-top: 2px;
        
        
    }
    .home section article div .icons2 i.fa-heart{
        order:2;
        width: 50%;
        }
    .home section article .art2{
            height: 40%;
            max-height: 92px;
    }
    .home section article.laptop{
        display: flex;
        
    }
    .home .top a i{
            
            font-size: 40px;
    }
/* --------------animaciones----------------------------- */

        .home section article:hover{
            box-shadow: var(--azul) 0px 13px 27px -5px, var(--grafito) 0px 8px 16px -8px;
            transform: scale(1.1);
        }
        .home section article div .icons2 i.fa-heart:hover{
            animation: latir 1.5s normal linear infinite;
        }
        .home .top a i:hover{
            color:  var(--azul);
            box-shadow: var(--azul) 0px 13px 27px -5px, var(--grafito) 0px 8px 16px -8px;
            transform: scale(1.1);
        }
}