main{
    background-color: #ededed;
}
main .principio{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #fff;
}
main .color{
    background-color: #ededed;
    width: 100%;
    height: 85px;
}
main .principio .producto{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--azul);
    margin-bottom: 5px;
    border-radius: 1%;
    position: relative;    
}
main .principio .producto .fotos{
    background-color: #f5f5f5;
    border-radius: 12px;    
    font-size: 12px;    
    height: 26px;
    left: 4px;    
    position: absolute;
    top: 2%;
    width: 40px;
}
main .principio .producto .fotos span{
    display: flex;
    justify-content: center;
    padding: 5px 0;
    font-weight: 600;
}

main .principio .producto i{
    position: absolute;
    left: 88%;
    top: 2%;
    border: 1px solid rgba(67, 67, 67, 0.8);
    padding: 1.5%;
    border-radius: 35%;
    background-color: #f5f5f5;
}
main .principio .cont-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
main .principio .cont-right .descripcion{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-bottom: 2px solid var(--azul);    
    justify-content: center;
    
}
main .principio .cont-right .descripcion h4{
    text-align: center; 
    color: var(--azul);
}
main .principio .cont-right .descripcion p{
    font-size: 26px;    
    margin-bottom: 5px;
    border-radius: 10px;
    color: var(--grafito);
    width: 100%;
    text-align: center;
}
main .principio .cont-right .comprar {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #fff;
}
main .principio .cont-right .comprar form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3% 0;
}
main .principio .cont-right .comprar form .cantidadd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin-bottom: 3%;
    
}
main .principio .cont-right .comprar form .cantidadd input{
    width: 12%;
    border: 1px solid rgba(67, 67, 67, 0.8);
    border-radius: 15%;
    text-align: center;
    background-color: #f5f5f5;
} 
main .principio .cont-right .comprar form .agregar{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
} 
main .principio .cont-right .comprar form .agregar i{
    position: absolute;
    right: 85%; 
    top: 32%;
    
}
main .principio .cont-right .comprar form .agregar input{
    width: 100%;
    padding: 4.7%;
    background-color: var(--cian);
    font-size: 16px;
    border: none;
    height: 100%;
} 
main .principio .cont-right .favoritos {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #fff;        
}
main .principio .cont-right .favoritos form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 3% 0;
    position: relative;
}
main .principio .cont-right .favoritos input{
    width: 85%;
    padding: 4%;
    background-color: var(--cian);
    font-size: 16px;
    border: none;
    height: 100%;
}
main .principio .cont-right .favoritos form i{
    position: absolute;
    right: 80%;
    top: 34%; 
    color: #db7093
}
main .principio .pedidos{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 12px;
    border-top: 2px solid var(--azul);
    border-bottom: 2px solid var(--azul);
    background-color: #fff;
}
main .principio .pedidos:last-child{
    margin: 0 auto 112px;
}
main .principio .pedidos div{
    width: 100%;
       
}
main .principio .pedidos div h3{
    text-align: center;
    color: var(--cian);
    margin: 10px 0;
    text-shadow: 0.4px 0.4px darkcyan;
    
}
footer{
    margin-top: 20px;    
    
}
@media(min-width:426px){
    main .principio{
        width: 80%;
    }
    main .comprar {
        width: 80%;
    }
    main .favoritos {
        width: 80%;
    }
    main .pedidos {
        width: 80%;
    }
    main .comprar form .agregar i{
        right: 90%; 
        top: 32%;
    }
    main .favoritos form i{
        right: 84%;
        top: 34%; 
    }
    main .pedidos div h3{        
        text-shadow: 1px 1px darkcyan;
    }
}

@media(min-width:769px){
    /* Margen superior */
    main .color{
        background-color: #ededed;
        width: 100%;
        height: 135px;
    }

    main .principio{
        width: 95%;
        justify-content: space-around;
        align-items: flex-start; 
        flex-direction: row;
        /* margin-bottom: 174px; */
    }
    main .principio .producto{
        width: 30%;
        border: none;
    }
    main .principio .cont-right{
        width: 60%;
        margin: 0;
        flex-direction: row;
        
    }
    main .principio .cont-right .descripcion{        
        margin-top: 5%;
        width: 76.5%;
        padding: 3% 0%;
        
    }
    main .principio .cont-right .descripcion h4{
        text-align: center; 
        color: rgb(67, 67, 67);       
    }
    main .comprar form .agregar i{
        font-size: 22px;
    }
    main .principio .cont-right .favoritos form i{
        font-size: 22px;
    }
    main .principio .cont-right .comprar form .cantidadd input{
        width: 9%;
    }
    main .comprar{
        width: 100%;
        margin: 0;
    }
    main .principio .pedidos{
        width: 100%;
        ;
    }
    main .principio .pedidos:last-child {
        margin: 0 auto 174px
    }

    /* animaciones */
    main .favoritos form i:hover{    
        animation: latir 1.5s normal linear infinite;
    }
    main .nombredeproducto{
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }

}