<footer>
    <div class="logof">
        <a href="/"><img src="../../images/logoprincipal.jpg" alt=""></a>
    </div>
    <h3>contactanos</h3>
    <div class="redes">
        <a class="facebook" target="_blank" href="https://www.facebook.com/sixtoarte-106659301512267/"><img src="../../images/redes/LOGOFACEBOOK.png" alt=""></a>
        <a class="instagram" target="_blank" href="https://www.instagram.com/sixto.arte/?utm_medium=copy_link"><img src="../../images/redes/logoinstagram.png" alt=""></a>
        <a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=5491133203391"><img src="../../images/redes/LOGOWHATSAPP.png" alt=""></a>
    </div>
</footer>