<header>
    <div class="logo">
        <a href="/"><img src="../images/logoprincipal.jpg" alt=""></a>
    </div>

    <div class="nav">
        <nav>
            <ul class="user">
                <li><a class="login1" href="/user/login">Login</a></li>
                <li><a class="regi1" href="/user/register">Register</a></li>
            </ul>
        </nav>
                
        <div class="nav2">
            <form action="">
                    <input type="text" placeholder="Buscar">
                    <i class="fas fa-search"></i>
            </form>
            <div class="icons">
                    <a href="#"><i class="fas fa-adjust"></i></a>
                    <a class="user" href="#"><i class="fas fa-user"></i></a>
                    <a href=""><i class="fas fa-shopping-cart"></i></a>
                    <a class="bars" href="#"><i class="fas fa-bars"></i></a> 
                    <a class="heart" href="/favoritos"><i class="fas fa-heart"></i></a>
                     
            </div>
        </div>

        <div class="menudespleglable">
            <ul>
                <li><a class="login2" href="/login">Login</a></li>
                <li><a class="regi2" href="/register">Register</a></li>
                <li><a class="favoritos" href="/favoritos">Favoritos</a></li>
            </ul>

        </div>
                
    </div>
        
</header>