.headerr{
    position: static;
  }
  
  
  /* -----------------register------------------ */
  .register{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white
  }
  
  
  
  main.register .caja{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    background-color: var(--azulOscuro);
    margin-top:15px ;
    max-width: 475px;
  }
  .register h1{
    font-size: 40px;
  }
  .register form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    
  }
  .register form label{
    font-size: 20px;
    margin: 15px 0;
    font-weight: 900;
  }
  .register form input{
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 6px;
  }
  
  .register form input.enviar{
   margin-top: 30px;
  }
  .register form p{
    font-size: 25px;
    font-weight: 900;
    margin-top: -30px;
    margin-bottom: 20px;
   }
   .register form div.iniciar {
    margin-bottom: 50px;
    box-shadow: var(--caja);
    background-color: white;
    padding: 0.5%;
    border-radius: 9px;
    
   }
  
  .register form div.iniciar a{
    font-size: 25px;
    color: black;
   }
  
  
  
   @media(min-width:769px){
  
    .register h1{
      font-size: 45px;
    }
  
    .register form label{
      font-size: 25px;
      margin: 15px 0;
      
    }
    .register form input{
      font-size: 22px;
      margin-bottom: 30px;
    }
   }