<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d43134a834.js" crossorigin="anonymous"></script>
    <title>productDetail</title>
</head>
<body class="login">
    <header class="headerlog">
        <div class="logo">
            <a href="/"><img src="../img/logoprincipal.jpg" alt=""></a>
        </div>

        <div class="nav">
            <nav>
                <ul class="user">
                    <li><a class="login" href="/login">Login</a></li>
                    <li><a class="regi" href="/register">Register</a></li>
                </ul>
            </nav>
            
            
            <div class="nav2">
                <form action="">
                        <input type="text" placeholder="Buscar">
                        <i class="fas fa-search"></i>
                </form>
                <div class="icons">
                        <a href="#"><i class="fas fa-adjust"></i></a>
                        <a href="#"><i class="fas fa-user"></i></a>
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
                    
        </div>          
    </header>

    <main class="box">

        <div class="boxcontenedor">
          <h1>Inicio De Sesión</h1>
			<form>
        
				<label for="user">Correo Electronico</label>
				<input type="user" placeholder="Usuario@email.com" id="user" required>
        
				<label for="password">Contraseña</label>
				<input type="password" placeholder="Insertar contraseña" id="password" required><br>
				<input class="inicio" type="submit" value="Ingresar">
                
				<a  class="link"  href="/register">¿Desea crear una cuenta?</a>
			</form>  

		</div>
</main> 
    
</body>
</html>