<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT CART</title>
    <script src="https://kit.fontawesome.com/33e6d7e34b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <header>
        <div class="logo">
            <a href="/"><img src="../img/logoprincipal.jpg" alt=""></a>
        </div>

        <div class="nav">
            <nav>
                <ul class="user">
                    <li><a class="login1" href="/login">Login</a></li>
                    <li><a class="regi1" href="/register">Register</a></li>
                </ul>
            </nav>
            
            
            <div class="nav2">
                <form action="">
                        <input type="text" placeholder="Buscar">
                        <i class="fas fa-search"></i>
                </form>
                <div class="icons">
                        <a href="#"><i class="fas fa-adjust"></i></a>
                        <a class="user" href="#"><i class="fas fa-user"></i></a>
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                        <a class="bars" href="#"><i class="fas fa-bars"></i></a> 
                        <a class="heart" href="/favoritos"><i class="fas fa-heart"></i></a>
                         
                </div>
            </div>

            <div class="menudespleglable">
                <ul>
                    <li><a class="login2" href="/login">Login</a></li>
                    <li><a class="regi2" href="/register">Register</a></li>
                    <li><a class="favoritos" href="/favoritos">Favoritos</a></li>
                </ul>

            </div>
                    
        </div>
            

    </header>

    <main class="carritoDeProducto">

        <section>
            <article>
               <div class="article1">
                    <img src="/img/productos/espejoazul.png" alt="imagen de producto">
                    <p class="producto"> espejo grande</p>
               </div>
                <div class="article2">
                        <i class="fas fa-trash"></i>
                        <p class="precio">  $5.500</p>
                    </div>
            </article>    
            <article>
                <div class="article1">
                     <img src="/img/productos/espejoazul.png" alt="imagen de producto">
                     <p class="producto"> espejo grande</p>
                </div>
                 <div class="article2">
                         <i class="fas fa-trash"></i>
                         <p class="precio">  $5.500</p>
                     </div>
             </article>    
             <article>
                <div class="article1">
                     <img src="/img/productos/espejoazul.png" alt="imagen de producto">
                     <p class="producto"> espejo grande</p>
                </div>
                 <div class="article2">
                         <i class="fas fa-trash"></i>
                         <p class="precio">  $5.500</p>
                     </div>
             </article> 

             <button><p class="resultadofinal">TOTAL A PAGAR: $5.500</p></button>
        </section>

    </main>

    <footer>
        <div class="logof">
            <a href="/"><img src="../img/logoprincipal.jpg" alt=""></a>
        </div>
        <h3>contactanos</h3>
        <div class="redes">
            <a class="facebook" target="_blank" href="https://www.facebook.com/sixtoarte-106659301512267/"><img src="../img/redes/LOGOFACEBOOK.png" alt=""></a>
            <a class="instagram" target="_blank" href="https://www.instagram.com/sixto.arte/?utm_medium=copy_link"><img src="../img/redes/logoinstagram.png" alt=""></a>
            <a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=5491133203391"><img src="../img/redes/LOGOWHATSAPP.png" alt=""></a>
        </div>

    </footer>

</body>

</html>