<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')%> 
<body class="error">
        
        <div class="conten">
            <div class="conten__img">
                <img src="../images/404/404.png" alt="">
                <p class="conten__number">
                    404
                </p>
               
            </div>
            <div class="conten__Description">
                <p class="conten__error">
                    <%= error %> <br>PAGE NOT FOUND
                </p>   
    
            <a href="/" class="conten__button">RETURN HOME.</a>
            </div>
        </div>
        <script src="/javascripts/error.js"></script>
   
</body>
</html>