<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')%> 
<body class="error">
        <% if(error) {%> 
            <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        <% } else { %> 
        <div class="conten">
            <div class="conten__img">
                <img src="../images/404/404.png" alt="">
                <p class="conten__number">
                    404
                </p>
               
            </div>
            <div class="conten__Description">
                <p class="conten__error">
                    LO SENTIMOS, MAIKEL ESTA DURMIENDO.<br>PAGE NOT FOUND
                </p>   
    
            <a href="/" class="conten__button">RETURN HOME.</a>
            </div>
        </div>
        <% } %> 
   
</body>
</html>