<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>


<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>


    <main class="home">
        <div class="carrousel">
            <div class="flechal">
                <i class="fas fa-angle-left"></i>
            </div>
            
                <img class="c1" src="../images/carrousel/relojC.png" alt="">
            
                <img class="c2" src="../images/carrousel/lamparaC.png" alt="">
            
                <img class="c3" src="../images/carrousel/portaVelaC.png" alt="">
            
            <div class="flechar">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <section>
            <article>
                <div class="imagen">
                    <img src="../images/productos/espejoazul.png" alt="">
                </div>
                <div class="art2">
                    <p class="descripcion">
                        espejo azul
                    </p>
                    <p class="precio">
                        $5.500
                    </p>
                    <div class="icons2">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </article>

            <article>
                <div class="imagen">
                    <img src="../images/productos/portaVelag.png" alt="">
                </div>
                <div class="art2">
                    <p class="descripcion">
                        soporte de vela
                    </p>
                    <p class="precio">
                        $1.600
                    </p>
                    <div class="icons2">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </article>

            <article class="tablet">
                <div class="imagen">
                    <img src="../images/productos/lampara.png" alt="">
                </div>
                <div class="art2">
                    <p class="descripcion">
                        lampara de mesa
                    </p>
                    <p class="precio">
                        $7.800
                    </p>
                    <div class="icons2">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </article>

            <article class="tablet">
                <div class="imagen">
                    <img src="../images/productos/soporte.png" alt="">
                </div>
                <div class="art2">
                    <p class="descripcion">
                        soporte de metal
                    </p>
                    <p class="precio">
                        $3.400
                    </p>
                    <div class="icons2">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </article>

            <article class="laptop">
                <div class="imagen">
                    <img src="../images/productos/lamparaPie.png" alt="">
                </div>
                <div class="art2">
                    <p class="descripcion">
                        lampara de pie
                    </p>
                    <p class="precio">
                        $10.200
                    </p>
                    <div class="icons2">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </article>

            <article class="laptop">
                <div class="imagen">
                    <img src="../images/productos/portaVasos.png" alt="">
                </div>
                <div class="art2">
                    <p class="descripcion">
                        porta vasos
                    </p>
                    <p class="precio">
                        $1000
                    </p>
                    <div class="icons2">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </article>

            
            

        </section>

        <div class="top">
            <a href="#"><i class="fas fa-chevron-circle-up"></i></a>
        </div>

    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

</body>
</html>