<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/33e6d7e34b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="login">
    <header>
        <div class="logo">
            <a href="/"><img src="../images/logoprincipal.jpg" alt=""></a>
        </div>

        <div class="nav">
            <nav>
                <ul class="user">
                    <li><a class="login1" href="login">Login</a></li>
                    <li><a class="regi1" href="register">Register</a></li>
                </ul>
            </nav>
            
            
            <div class="nav2">
                <form action="">
                        <input type="text" placeholder="Buscar">
                        <i class="fas fa-search"></i>
                </form>
                <div class="icons">
                        <a href="#"><i class="fas fa-adjust"></i></a>
                        <a class="user" href="#"><i class="fas fa-user"></i></a>
                        <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
                        <a class="bars" href="#"><i class="fas fa-bars"></i></a> 
                        <a class="heart" href="/favoritos"><i class="fas fa-heart"></i></a>
                         
                </div>
            </div>

            <div class="menudespleglable">
                <ul>
                    <li><a class="login2" href="/login">Login</a></li>
                    <li><a class="regi2" href="/register">Register</a></li>
                    <li><a class="favoritos" href="/favoritos">Favoritos</a></li>
                </ul>

            </div>
                    
        </div>
            

    </header>
    <main class="box">

        <div class="boxcontenedor">
          <h1>Inicio De Sesión</h1>
			<form>
        
				<label for="user">Nombre de Usuario</label>
				<input type="user" placeholder="Usuario@email.com" id="user" required>
        
				<label for="password">Contraseña</label>
				<input type="password" placeholder="Insertar contraseña" id="password" required><br>
				<input class="inicio" type="submit" value="Ingresar">
                
				<a  class="link"  href="/register">¿Desea crear una cuenta?</a>
			</form>  

		</div>
    </main> 
</body>
</html>