<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head')%> 

<body class="login">
    <!-- HEADER -->
    <%- include('./partials/header') %> 
    
    <main class="box">

        <div class="boxcontenedor">
          <h1>Inicio De Sesión</h1>
			<form>
        
				<label for="user">Nombre de Usuario</label>
				<input type="user" placeholder="Usuario@email.com" id="user" required>
        
				<label for="password">Contraseña</label>
				<input type="password" placeholder="Insertar contraseña" id="password" required><br>
				<input class="inicio" type="submit" value="Ingresar">
                
				<a  class="link"  href="/register">¿Desea crear una cuenta?</a>
			</form>  

		</div>
    </main> 
</body>
</html>