<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')  %>

<body>
  <!-- HEADER -->
<%- include('./partials/header')  %>

<main class="perfil">

  <section>

    <div class="imgperfil">
      <img src="/images/usuarios/OIP (1).jpg" alt="Avatar Personal" />
    </div>

    <ul>
      <li>
        <p>Nombre: Marcos Esquivel</p>
        <p>Nombre de Usuario: Maikel</p>
        <a href="mailto: marcostorres04031997@gmail.com">marcostorres04031997@gmail.com</a>
        <p>Rol: Usuario</p>
      </li>
    </ul>

  </section>

</main>

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
</body>
</html>