<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d43134a834.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>PRODUCT DETAIL</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="../images/logoprincipal.jpg" alt=""></a>
        </div>

        <div class="nav">
            <nav>
                <ul class="user">
                    <li><a class="login1" href="login">Login</a></li>
                    <li><a class="regi1" href="register">Register</a></li>
                </ul>
            </nav>
            
            
            <div class="nav2">
                <form action="">
                        <input type="text" placeholder="Buscar">
                        <i class="fas fa-search"></i>
                </form>
                <div class="icons">
                        <a href="#"><i class="fas fa-adjust"></i></a>
                        <a class="user" href="#"><i class="fas fa-user"></i></a>
                        <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
                        <a class="bars" href="#"><i class="fas fa-bars"></i></a> 
                        <a class="heart" href="/favoritos"><i class="fas fa-heart"></i></a>
                         
                </div>
            </div>

            <div class="menudespleglable">
                <ul>
                    <li><a class="login2" href="/login">Login</a></li>
                    <li><a class="regi2" href="/register">Register</a></li>
                    <li><a class="favoritos" href="/favoritos">Favoritos</a></li>
                </ul>

            </div>
                    
        </div>
            

    </header>

    <main>
        <div class="color"></div>
            <section class="principio">                          
                    <article class="producto">
                        <img src="../images/productos/espejoazul.png" alt="">                        
                        <div class="fotos">
                            <span>1/1</span>
                         </div>                        
                        <i class="fas fa-search-plus"></i>  
                        </article>
                    <article class="cont-right">
                        <div class="descripcion">                        
                            <h4>Espejo rectangular. Bordes mosaiqueados con azulejos y venecitas 45cm x 24cm</h4>                        
                            <p>$ 1.000</p>
                        </div>
                        <div class="comprar">                
                            <form action="">
                                
                                <div class="cantidadd">
                                    <label for="cantidad">Cantidad</label>
                                    
                                    <input type="number" id="cantidad" value="1">
                                </div>
                                
                                <div class="agregar">
                                    <i class="fas fa-shopping-cart"></i>
                                    <input type="submit" value="Agregar al carrito">
                                </div>
                            </form>
                        </div>
                        <div class="favoritos">
                                <form  action="">                    
                                        <i class="fas fa-heart"></i>
                                        <input type="submit" value="Agregar a favoritos">                                       
                                </form>
                            </div>
                        
                    </article>
                    <article class="pedidos">
                        <div >
                            <h3>Espejos con diseños a pedido. ¡Colores con la gama que elijas!</h3>
                        <div/>
                    </article>
            </section>
            
    </main>
    
    <footer>
        <div class="logof">
            <a href="/"><img src="../images/logoprincipal.jpg" alt=""></a>
        </div>
        <h3>contactanos</h3>
        <div class="redes">
            <a class="facebook" target="_blank" href="https://www.facebook.com/sixtoarte-106659301512267/"><img src="../images/redes/LOGOFACEBOOK.png" alt=""></a>
            <a class="instagram" target="_blank" href="https://www.instagram.com/sixto.arte/?utm_medium=copy_link"><img src="../images/redes/logoinstagram.png" alt=""></a>
            <a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=5491133203391"><img src="../images/redes/LOGOWHATSAPP.png" alt=""></a>
        </div>

    </footer>
</body>
</html>