<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>
<body class="register">
    
   <!-- HEADER -->
   <%- include('./partials/header') %>
  <main class="conteiner">
   <form action="/user/register" method="POST" enctype="multipart/form-data">
    <h1 class="titulo">Registrate</h1>
    <div class="form">
        <div class="conteinerB">
          <label for="nombre">Nombre y Apellido</label>
          <input type="text" class="input" name="name" id="nombre">
        </div>       
        <div class="conteinerB">
            <label for="user">Nombre de Usuario</label>
          <input type="username" class="input" name="username" id="user">
       </div> 
       <div class="conteinerB">
            <label for="date">Fecha de Nacimiento</label>
            <input type="date" class="input" name="fecha" id="date"> 
       </div>        

          <div class="conteinerB">
              <label for="correo">Correo Electronico</label>
              <input type="email" name="email" placeholder="insertar correo" id="correo" required class="input">
          </div>
          
        <div class="conteinerB">
            <label for="image">Imagen</label>
            <input type="file" name="image" id="image" class="input">
        </div> 
            
       <div class="conteinerB">
          <label for="contrase単a">Contrase単a</label>
          <input type="password" class="input" name="pass" id="contrase単a">
       </div>  
      <div class="conteinerB">
          <label for="confirm">Confirmar Contrase単a</label>
          <input type="password" class="input" name="confirmpassword" id="confirm">
       </div> 
     
       <div class="conteinerB">
        <input type="submit" value="Registrarse" class="btn">
      </div>        
      <div class="conteinerB">
        <input type="reset" value="Eliminar Datos" class="btn">
      </div>
    </div>   
</form>
</main>
</body>
</html>