<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>
<body>
    
   <!-- HEADER -->
   <%- include('./partials/header') %>

    <main class="register">
      
      <div class="caja">
        <h1>Registro
        </h1>
        
        <form action="/" method="GET">
         
          <label for="nombre">Nombre de Usuario</label>
          <input type="user" name="nombre" placeholder="nombre de usuario" id="nombre" required>

          <label for="correo">Correo Electronico</label>
          <input type="email" name="email" placeholder="insertar correo" id="correo" required>
          
          <label for="password">Contraseña</label>
          <input type="password" name="contraseña" placeholder="insertar contraseña" id="password" required>
          
          <label for="password2">Repetir Contraseña</label>
          <input type="password" name="contraseña2" placeholder="Repetir contraseña" id="password2" required>
        
          <input class="enviar" type="submit" value="registrarse">
          <br>
          <p>o</p>
          <div class="iniciar">
           
              <a  href="login">iniciar Sesión</a>
          </div>
          
        </form>
      </div>
      
    </main>
</body>
</html>